<!DOCTYPE html>
<html><head>
<title>{{ site.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Un site web demo pour les communes" />
<meta name="copyright" content="Mark Berthelemy" />
<link rel="stylesheet" type="text/css" href="/css/reset.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />                  <!-- KICKSTART -->

<link rel="stylesheet" type="text/css" href="/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/menu-style.css" media="all" />
                         
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script type="text/javascript" src="/js/jquery.min.js"></script><!-- Remove for production -->
<script type="text/javascript" src="/js/kickstart.js"></script>                                  <!-- KICKSTART -->


<style>
    body {
        background-image:none;
        background-color: #efefef;
    }
    .navbar, header {
        background: #637b9b;
    }
    .callout {
        background-image: url("/img/IMG_20190402_121936.jpg");
    }
</style>
<script src="js/modernizr.js"></script> 


</head>