{% include head.html %}
<body>
<!-- ===================================== END HEADER ===================================== -->
<!-- Mega menu from https://codyhouse.co/gem/mega-dropdown -->
{% include header.html %}


<!--<nav class="navbar">-->
<!--<a class="hide-phone" id="logo" href="http://www.99lime.com"><img src="https://via.placeholder.com/300x51.png?text=Votre+logo" alt="logo" /></a>-->


<!--<ul>
    <li><a href="index.html">Nom de commune</a></li>
    
        
    <li><a href="/contact">Contact</a></li>
</ul>
</nav>-->
{% include hero.html %}

{{ content }}




<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
{% include footer.html %}

{% include scripts.html %}



</body></html>
