{% include head.html %}
<body>
<!-- ===================================== END HEADER ===================================== -->
<!-- Mega menu from https://codyhouse.co/gem/mega-dropdown -->
{% include header.html %}


<!--<nav class="navbar">-->
<!--<a class="hide-phone" id="logo" href="http://www.99lime.com"><img src="https://via.placeholder.com/300x51.png?text=Votre+logo" alt="logo" /></a>-->


<!--<ul>
    <li><a href="index.html">Nom de commune</a></li>
    
        
    <li><a href="/contact">Contact</a></li>
</ul>
</nav>-->
{% include hero.html %}

<div class="grid">
    <div class="col_4">
        <h4>Découvrir</h4>
            <ul>
                <li><a href="#">Situation géographique et accès</a></li>
                <li><a href="#">Histoire et patrimoine</a></li>
                <li><a href="#">Balades et randonnées</a></li>
                <li><a href="#">Musée</a></li>
            </ul>
    </div>
    <div class="col_4">
        <h4>La Vie</h4>
        <ul>
                <li><a href="#">Ecoles</a></li>
                <li><a href="#">Equipements culturels et sportifs</a></li>
                <li><a href="#">Vie Associative</a></li>
                <li><a href="#">Transports</a></li>
            </ul>
    </div>
    <div class="col_4">
        <h4>Une mairie à votre service</h4>
        <ul>
                <li><a href="#">Le ville</a></li>
                <li><a href="#">Le domaine</a></li>
                <li><a href="#">Randonées</a></li>
                <li><a href="#">VTT</a></li>
            </ul>
    </div>
    <div class="col_4">
        <h4>Vie municipale</h4>
        <ul>
                <li><a href="#">Le ville</a></li>
                <li><a href="#">Le domaine</a></li>
                <li><a href="#">Randonées</a></li>
                <li><a href="#">VTT</a></li>
            </ul>
    </div>
    <div class="col_4">
        <h4>Services et commerces</h4>
        <ul>
                <li><a href="#">Marchés Publics</a></li>
                <li><a href="#">Le domaine</a></li>
                <li><a href="#">Randonées</a></li>
                <li><a href="#">VTT</a></li>
            </ul>
    </div>
    <div class="col_4">
    <h4>Guide des droits et démarches</h4>
    <ul>
            <li><a href="#">Le ville</a></li>
            <li><a href="#">Le domaine</a></li>
            <li><a href="#">Randonées</a></li>
            <li><a href="#">VTT</a></li>
        </ul>
    </div>


        <div class="col_6">
            <h4>Actualités</h4>
            <article>
                <h5>Aménagement des espaces publics</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p><a href="#">Lit plus</a></p>
            </article>
            <article>
                <h5>Aménagement des espaces publics</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p><a href="#">Lit plus</a></p>
            </article>
        </div>
        <div class="col_6">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.5368843078613283%2C42.81630688561467%2C1.6501808166503906%2C42.87105777239563&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=14/42.8437/1.5936">View Larger Map</a></small>
        </div>

    </div>
    



<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
{% include footer.html %}

{% include scripts.html %}



</body></html>
