---
layout: default
---
{% assign count = 0 %}
<div class="grid">
    
{% for item in site.data.pagelist.toc %}
    <div class="col_4"><h5>{{ item.title }}</h5>
      <ul>
        {% for entry in item.subfolderitems %}
          <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
        {% endfor %}
      </ul>
  </div>
  {% assign count = count | plus: 1 %}
  {% assign countmod = count | modulo: 3 %}
  {% if countmod == 0 %}
    <div class="clear"></div>
        {% endif %}
  {% endfor %}

        <div class="col_6">
            <h4>Actualités</h4>
            <article>
                <h5>Aménagement des espaces publics</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p><a href="#">Lit plus</a></p>
            </article>
            <article>
                <h5>Aménagement des espaces publics</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p><a href="#">Lit plus</a></p>
            </article>
        </div>
        <div class="col_6">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.5368843078613283%2C42.81630688561467%2C1.6501808166503906%2C42.87105777239563&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=14/42.8437/1.5936">View Larger Map</a></small>
        </div>

    </div>
    
{{ content }}

